*.html
*.pdf
*.aux
*.ext
*.idx
*.toc
*.log
*.lof
*.lot
*.out
*.ilg
*.ind
*.tmp
*.gls
*.glo
*.gz
*.toc
*.bbl
*.blg
*.dvi
*.xdv
.DS_Store
*.fdb_latexmk
*.fls
*.xtr
*.zip
*.tex
.tags
.tags_sorted_by_file
*.synctex.gz
*.synctex*
*.zip
book.md

Makefile
